/*==MOBILE== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
img {
    display: block;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /* background is not set on container, but the section it contains */
    /* however, dimensions are set exactly on the container. */
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
}
@media only screen {
    @media (min-width: 1158px){
        .logo{
            margin-right: 76px;
        }
    }
}
.logo-part {
    color: #2E2F42;
}
/* END OF GENERAL STYLES, BLOCK-SPECIFIC RULES FOLLOW: */


/* BEGIN HEADER */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-items-list {
    display: none;
}
@media only screen {
    @media (min-width: 768px){
        .nav-link {
            display: block;
            color: #2E2F42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .nav-link:hover,
        .nav-link:focus {
            color: #404BBF;
        }
        .nav-link-isopen {
            position: relative;
            color: #404bbf;
        }
        .nav-link-isopen::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
    }   
}
.address {
    display: none;
    font-style: normal;
}
.page-header .logo {
    padding: 16px 0;
    display: inline-block;
}
.open-menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}
@media only screen and (min-width: 768px){
    .page-header .logo {
            padding: 24px 0;
        }
    .page-header .container {
        max-width: 768px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 72px;
    }
    .nav-items-list {
        display: flex;
        gap: 40px;
    }
    .address {
        display: block;
        padding: 16px;
        text-align: right;
    }
    .address ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
        font-size: 12px;
        line-height: 14px;
    }

    .address ul li {
        display: inline-block;
    }

    .address-link {
        color: #434455;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
    .open-menu-btn{
        display: none;
    }
}
@media only screen and (min-width: 1158px){
    .address {
        padding: 24px;
    }
    .address ul{
        flex-direction: row;
        column-gap: 40px;
        font-size: 16px;
        line-height: 1.5;
        
    }
    .header-flex {
        justify-content: space-between;
    }
    .page-header .container {
        max-width: 1158px;
    }
}

/* HERO IMAGE block */
.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-phone@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.page-heading {
    /* font-family */
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    width: 216px;
    margin-top: 0;
    text-wrap: balance;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.call-for-action {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-for-action:hover,
.call-for-action:focus {
    background-color: #404BBF;
}
@media only screen {
    @media (min-resolution: 192dpi) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-phone@2x.jpg);
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
        .page-heading{
            width: 496px;
            font-size: 56px;
            margin-bottom: 36px;
        }
        .hero {
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet@1x.jpg);
        }
        @media (min-resolution: 192dpi){
            .hero{
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet@2x.jpg);
            }
        }
    }
    @media (min-width: 1158px){
        .container {
            max-width: 1158px;
        }
        .page-heading {
            margin-bottom: 48px;
        }
        .hero{
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-desktop@1x.jpg);
        }
        @media (min-resolution: 192dpi){
            .hero{
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-desktop@2x.jpg);
            }
        }
    }
}



/* BEGIN ADVANTAGES SECTION */
.advantages {
    letter-spacing: 0.02em;
    padding: 96px 0;
}
.advantage-card-header{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
    text-align: center;
}
.advantages-list-item {
    margin-bottom: 72px;
    display: block;
}
.advantages-list-item:last-child {
    margin-bottom: 0;
}
.advantage-icon-container {
    display: none;
}
@media only screen {
    @media (min-width: 768px){
        .advantages {
            padding: 120px 0;
        }
        .advantages .container {
            width: 768px;
            margin: 0;
            padding: 0 16px;
            }
        .advantages-list {
            display: flex;
            gap: 72px 24px;
            flex-wrap: wrap;
        }
        .advantages-list-item {
            margin-bottom: 0;
            width: 356px;
        }
        .advantage-card-header{
            text-align: left;
        }
    }
    @media (min-width: 1158px){
        .advantages .container {
            padding: 0;
            width: 1128px;
            margin-left: auto;
            margin-right: auto;
        }
        .advantages-list{
            gap: 0 24px;
            justify-content: center;
            width: 1128px;
        }
        .advantages-list-item{
            width: 264px;
            margin-bottom: 0;
        }
        .advantage-icon-container {
            display: flex;
            background-color: #F4F4FD;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            padding: 24px 0;
            justify-content: center;
            margin-bottom: 8px;
        }
        .advantages-list h3{
            font-size: 20px;
            line-height: 24px;
        }
        .advantage-card-paragraph{
            font-size: 16px;
        }
    }
}



/* BEGIN STAFF SECTION (TEAM) */
.staff{
    background-color: #F4F4FD;
}
.staff .container {
    padding: 96px 0;
}
.staff-header {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
}
.staff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 0;
    justify-content: center;
}
.staff-card {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.staff-card-container {
    margin: 32px 16px;
    text-align: center;
}
.staff-name {
    color: #2E2F42;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}
.staff-position{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.networks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.networks-item {
    width: 40px;
    height: 40px;
}
.networks-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover,
.networks-link:focus {
    background-color: #404bbf;
}
.networks-svg {
    fill: #f4f4fd;
}
@media only screen{
    @media(min-width: 768px){
        .staff-list {
            gap: 64px 24px;
        }
    }
}



/* BEGIN PORTFOLIO SECTION */
.portfolio {
    padding: 96px 0;
}
.portfolio .container {
    padding: 0;
}
.portfolio-header {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    gap: 72px 24px;
}
.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-overlay {
    display: none;
}
.portfolio-item-container {
    padding: 32px 16px;
}
.portfolio-item-header {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.portfolio-item-description {
    font-size: 16px;
    font-weight: 400;
}
@media only screen{
    @media (min-width: 768px){
        .portfolio-list{
            width: 736px;
            margin: 0 auto;
        }
        .portfolio-item{
            width: 356px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        }
    }
    @media (min-width: 1158px){
        .portfolio{
            padding: 120px 0;
        }
        .portfolio .container {
            padding: 0;
        }
        .portfolio-list {
            width: 1128px;
        }
    }
}


/* BEGIN FOOTER */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.page-footer .container {
    padding: 0 16px;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
    margin-right: 0;
    text-align: center;
}
.logo-part-footer {
    color: #F4F4FD;
}
.footer-slogan {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-social-svg {
    fill: #f4f4fd;
}
.subscription-footer{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}
.subscription-footerheading{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
}
.subscription-footerform {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.footerform-email {
    width: 288px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
}
.footerform-email::placeholder {
    color: white;
}
.footerform-button {
    width: 165px;
    height: 40px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}
.footferbutton-svg {
    margin-left: 16px;
}
@media only screen{
    @media (min-width: 768px){
        .page-footer .container {
            width: 584px;
        }
        .footer-wrapper{
            flex-direction: row;
            gap: 24px 72px;
            flex-wrap: wrap;
            justify-items: center;

        }
        .footer-logo, .footer-social {
            text-align: left;
        }
        .subscription-footerheading {
            align-self: flex-start;
        }
        .subscription-footerform {
            flex-direction: row;
            gap: 24px;
        }
        .footerform-email {
            width: 264px;
        }
    }
    @media (min-width: 1158px){
        .page-footer .container {
            width: 1128px;
            padding: 0;
            gap: 0;
        }
        .footer-left {
            margin-right: 120px;
        }
        .footer-right {
            margin-right: 80px;
        }
    }
}

/* MODAL WINDOW */
.modal-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    width: 288px;
}
@media only screen{
    @media (min-width: 768px){
        .modal-window {
            width: 408px;
            padding: 72px 24px 24px 24px;
        }
    }
}
.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}
.formlabel-divcontainer {
    margin-bottom: 8px;
}
.formlabel-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.formlabel-inputwrap {
    position: relative;
}
.formlabel-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formlabel-input:focus {
    border: 1px solid #4d5ae5;
}
.formlabel-input-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formlabel-input:focus+.formlabel-input-icon {
    fill: #4d5ae5;
}
.formlabel-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formlabel-textarea:focus {
    border-color: #4D5AE5;
}
.formcomment-divcontainer {
    margin-bottom: 16px;
}
.formagreement-divcontainer {
    margin-bottom: 24px;
}
.formagreement-inputcheckbox:checked+.formagreement-label .formagreement-labelspan {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.formagreement-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.formagreement-labelspan {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.formagreement-labelspanurl {
    color: #4d5ae5;
}
.formlabel-buttonsend {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}
.formlabel-buttonsend:hover,
.formlabel-buttonsend:focus {
    background-color: #404BBF;
}

/* SERVICE RULES, USED ONLY AT DEVELOPMENT TIME */
.hidden {
    display: none;
}

/* MENU FOR MOBILE */
.mobile-menu.is-open {
    display: block;
}
.mobile-menu {
    display: none;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 72px 16px 40px 16px;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}
.mobile-menu li.mobnav-item {
    display: block;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.mobile-menu li.mobnav-item h2 {
        font-size: 36px;
        line-height: 40px;
}


.mobile-menu li.mobnav-item a:link,
.mobile-menu li.mobnav-item a:visited {
    color: #2E2F42;
}

.mobile-menu li.mobnav-item a.mobnav-link-isopen {
    color: #404bbf;
}

.mobile-menu li.mobnav-item a:hover,
.mobile-menu li.mobnav-item a:active,
.mobile-menu li.mobnav-item a:focus {
    color: #404BBF;
}

ul.mobile-contactinfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

ul.mobile-contactinfo>li:first-child a {
    color: #4D5AE5;
}
ul.mobile-contactinfo>li:last-child a {
    color: #434455;
}

.mobile-menu .m-networks-list {
    display: flex;
    flex-direction: row;
    column-gap: unset;
    justify-content: center;
    justify-content: space-between;
}

.m-networks-item {
    width: 40px;
    height: 40px;
}

.m-networks-link {
    height: 100%;
    
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-networks-link:hover,
.m-networks-link:focus {
    background-color: #404bbf;
}

.m-networks-svg {
    fill: #f4f4fd;
}

.modal-button-2 {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-2:hover,
.modal-button-2:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button-2-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}