/*==MOBILE== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
img {
    display: block;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /* background is not set on container, but the section it contains */
    /* however, dimensions are set exactly on the container. */
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-part {
    color: #2E2F42;
}
/* END OF GENERAL STYLES, BLOCK-SPECIFIC RULES FOLLOW: */


/* BEGIN HEADER */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-items-list {
    display: none;
}
.address {
    display: none;
}
.page-header .logo {
    padding: 16px 0;
    display: inline-block;
}
@media only screen and (min-width: 768px){
    .page-header .container {
        max-width: 768px;
    }
}
@media only screen and (min-width: 1158px){
    .page-header .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* HERO IMAGE block */
.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-phone@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.page-heading {
    /* font-family */
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    width: 216px;
    margin-top: 0;
    text-wrap: balance;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.call-for-action {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-for-action:hover,
.call-for-action:focus {
    background-color: #404BBF;
}
@media only screen {
    @media (min-resolution: 192dpi) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-phone@2x.jpg);
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
        .page-heading{
            width: 496px;
            font-size: 56px;
            margin-bottom: 36px;
        }
        .hero {
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet@1x.jpg);
        }
        @media (min-resolution: 192dpi){
            .hero{
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet@2x.jpg);
            }
        }
    }
    @media (min-width: 1158px){
        .container {
            max-width: 1158px;
        }
        .page-heading {
            margin-bottom: 48px;
        }
        .hero{
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-desktop@1x.jpg);
        }
        @media (min-resolution: 192dpi){
            .hero{
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-desktop@2x.jpg);
            }
        }
    }
}



/* BEGIN ADVANTAGES SECTION */
.advantages {
    letter-spacing: 0.02em;
    padding: 96px 0;
}
.advantage-card-header{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
    text-align: center;
}
.advantages-list-item {
    margin-bottom: 72px;
    display: block;
}
.advantages-list-item:last-child {
    margin-bottom: 0;
}
.advantage-icon-container {
    display: none;
}
@media only screen {
    @media (min-width: 768px){
        .advantages {
            padding: 120px 0;
        }
        .advantages .container {
            width: 768px;
            margin: 0;
            padding: 0 16px;
            }
        .advantages-list {
            display: flex;
            gap: 72px 24px;
            flex-wrap: wrap;
        }
        .advantages-list-item {
            margin-bottom: 0;
            width: 356px;
        }
        .advantage-card-header{
            text-align: left;
        }
    }
    @media (min-width: 1158px){
        .advantages .container {
            padding: 0;
            width: 1128px;
            margin-left: auto;
            margin-right: auto;
        }
        .advantages-list{
            gap: 0 24px;
            justify-content: center;
            width: 1128px;
        }
        .advantages-list-item{
            width: 264px;
            margin-bottom: 0;
        }
        .advantage-icon-container {
            display: flex;
            background-color: #F4F4FD;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            padding: 24px 0;
            justify-content: center;
            margin-bottom: 8px;
        }
        .advantages-list h3{
            font-size: 20px;
            line-height: 24px;
        }
        .advantage-card-paragraph{
            font-size: 16px;
        }
    }
}



/* BEGIN STAFF SECTION (TEAM) */
.staff{
    background-color: #F4F4FD;
}
.staff .container {
    padding: 96px 0;
}
.staff-header {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
}
.staff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 0;
    justify-content: center;
}
.staff-card {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.staff-card-container {
    margin: 32px 16px;
    text-align: center;
}
.staff-name {
    color: #2E2F42;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}
.staff-position{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.networks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.networks-item {
    width: 40px;
    height: 40px;
}
.networks-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover,
.networks-link:focus {
    background-color: #404bbf;
}
.networks-svg {
    fill: #f4f4fd;
}
@media only screen{
    @media(min-width: 768px){
        .staff-list {
            gap: 64px 24px;
        }
    }
}



/* BEGIN PORTFOLIO SECTION */
.portfolio {
    padding: 96px 0;
}
.portfolio .container {
    padding: 0;
}
.portfolio-header {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    gap: 72px 24px;
}
.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-overlay {
    display: none;
}
.portfolio-item-container {
    padding: 32px 16px;
}
.portfolio-item-header {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.portfolio-item-description {
    font-size: 16px;
    font-weight: 400;
}
@media only screen{
    @media (min-width: 768px){
        .portfolio-list{
            width: 736px;
            margin: 0 auto;
        }
        .portfolio-item{
            width: 356px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        }
    }
    @media (min-width: 1158px){
        .portfolio{
            padding: 120px 0;
        }
        .portfolio .container {
            padding: 0;
        }
        .portfolio-list {
            width: 1128px;
        }
    }
}


/* BEGIN FOOTER */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.page-footer .container {
    padding: 0 16px;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
    margin-right: 0;
    text-align: center;
}
.logo-part-footer {
    color: #F4F4FD;
}
.footer-slogan {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-social-svg {
    fill: #f4f4fd;
}
.subscription-footer{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}
.subscription-footerheading{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
}
.subscription-footerform {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.footerform-email {
    width: 288px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
}
.footerform-email::placeholder {
    color: white;
}
.footerform-button {
    width: 165px;
    height: 40px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}
.footferbutton-svg {
    margin-left: 16px;
}
@media only screen{
    @media (min-width: 768px){
        .page-footer .container {
            width: 584px;
        }
        .footer-wrapper{
            flex-direction: row;
            gap: 24px 72px;
            flex-wrap: wrap;
            justify-items: center;

        }
        .footer-logo, .footer-social {
            text-align: left;
        }
        .subscription-footerheading {
            align-self: flex-start;
        }
        .subscription-footerform {
            flex-direction: row;
            gap: 24px;
        }
        .footerform-email {
            width: 264px;
        }
    }
    @media (min-width: 1158px){
        .page-footer .container {
            width: 1128px;
            padding: 0;
            gap: 0;
        }
        .footer-left {
            margin-right: 120px;
        }
        .footer-right {
            margin-right: 80px;
        }
    }
}